virtenv/
*.jpg
*.png
*.npy
*.zip
*.swp
.idea/
.vscode/
__pycache__/
utils/*/
Data/*/
images/
DeepFashion
venv/
**/*.h5
**/*.hdf5
**/*.html
classification/*.json
**/clf_model.json
/bashvenv
/.vscode
*.log